<!doctype html>
<html lang="en" ng-app="OutCineApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <base href="/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <base href="/">
  
  <!-- for SEO Crawlers -->
  <meta name="fragment" content="!">
  <title>My Outdoor Cinema Perth</title>
  <meta name="description" content="All your outdoor cinema programming for Perth, WA in one easy to search website!">

  <meta name="keywords" content="outdoor, cinema, Perth, WA, movie programm">

  <!-- ICONS -->
  <!-- ICON - For tab -->
  <link rel="shortcut icon" href="./img/icons/favicon.ico" type="image/x-icon">
  <!-- <link rel="shortcut icon" href="http://sstatic.net/stackoverflow/img/favicon.ico"> -->
  
  <!-- ICON - For Mobile -->
<!--   <link rel="apple-touch-icon" sizes="57x57" href="./img/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="./img/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="./img/icons/apple-icon-114x114.png" /> -->
  <link rel="apple-touch-icon" sizes="152x152" href="./img/icons/MyOutdoorCinema_c_H152.png" />

  <link rel="stylesheet" href="app.css">

  <script src="app.js"></script>

  <script src="https://www.youtube.com/iframe_api"></script>

  <!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script> -->
  <!-- google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59184833-1', 'auto');
    //ga('send', 'pageview');

  </script>
</head>
<body>
    <div class="container BrandMain"> <img class="imgBrandMain" alt="M.O.C." src="./img/icons/MyOutdoorCinema_c_H150.png"> 
      <div class="titleBrandMain"> <span class="titleBrandMain_span"> All your outdoor cinema programming for Perth, WA in one easy to search website! </span> </div> 
    </div>
    <nav class="navbar navbar-default" role="navigation" ng-controller="HeadController">
      <div class="container" >
      <!-- Brand and toggle get grouped for better mobile display  -->
        <div class="navbar-header navHead">
          <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse"> -->
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed=true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navBrand" ng-click="isCollapsed=true" href="/"> <img class="imgBrand" alt="M.O.C." src="./img/icons/MyOutdoorCinema_c_r.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
        <div ng-class="{'collapse':isCollapsed}" class="navbar-collapse navBarCust">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: isActive('/')}" ng-click='menuClick()'><a href="/">byDate</a></li>
            <li ng-class="{ active: isActive('/venues')}" ng-click='menuClick()'><a href="/venues">Venues</a></li>
            <li ng-class="{ active: isActive('/movies')}" ng-click='menuClick()'><a href="/movies">Movies</a></li>
            <li ng-class="{ active: isActive('/feedback')}" ng-click='menuClick()'><a href="/feedback">Feedback</a></li>
          </ul>
          <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/login')}" ng-click='menuClick()'><a href="/login">Login</a></li>
            <!-- <li ng-class="{ active: isActive('/signup')}" ng-click='menuClick()' ><a href="/signup">Sign up</a></li> -->
          </ul>
          <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/profile')}" ng-click='menuClick()'><a href="/profile">Me</a></li>
            <li ng-class="{ active: isActive('/logout')}" ng-click='menuClick()' ><a href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

  <route-loading-indicator></route-loading-indicator>
  <!-- <spinner name="homeSpinner">
        <h3>Loading...</h3>
  </spinner> -->
  <div class="view-container">
  <spinner name="homeSpinner">
  <div class="overlaySpinner">
        <svg class="spinner" width="30px" height="30px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
  </div>
</spinner>
    <div ng-if='!isRouteLoading' ng-view autoscroll="" class="view-frame"></div>
  </div>

  <footer class="bs-docs-footer" role:"contentinfo" ng-controller="FootController">
        <div class="container-fluid">
          <span> Share Me!</span>
          <div style="height:50px; font-size:3em;text-align: center;" share-square="true" share-links="Facebook, Twitter, LinkedIn, Google-Plus, Envelope" share-title="My Outdoor Cinema" custom-url="http://www.myoutdoorcinema.com.au/"></div>
          <p></p>
          <p></p>
            
          <p style="margin-top:30px;margin-bottom:30px;"> <a href="/aboutus">About Us </a> <span style="margin-left:10px; margin-right:10px;"> | </span> <a  href="/disclaimer"> Disclaimer</a> <span style="margin-left:10px; margin-right:10px;"> | </span> <a  href="/privacypolicy"> Privacy Policy</a> </p> </p> 
          <p style="font-style: italic"> Thank you for visiting My Outdoor Cinema. <br> All your outdoor cinema programming for Perth, WA in one easy to search website!</p>
          <p>Copyright: MyOutdoorCinema </p>
        </div>
  </footer>
</body>
</html>