<div class="modal-header">
    <h3 class="modal-title">Retrieve your password</h3>
</div>
<form method="post" ng-submit="ok()" name="loginForm">

  <div class="modal-body">
    Enter you email address:
      <div ng-hide="submitted" class="form-group has-feedback">
        <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
        <span class="ion-at form-control-feedback"></span>
      </div>
      <div ng-hide="!submitted" class="alert alert-success" role="alert">fetching data...</div>
  </div>  

  <div class="modal-footer">
      <button type="submit" ng-disabled="loginForm.$invalid || submitted" class="btn btn-lg  btn-block btn-success" 
        >OK 
        <span ng-if="submitted"><i class="fa fa-refresh fa-spin"></i></span>
        <!-- <img ng-hide="!submitted" src="img/ajax-loader.gif"> -->
      </button>
      <button type="button" class="btn btn-block btn-warning" ng-click="cancel()">Cancel</button>
      <!-- <button ng-hide="!submitted" type="button" class="btn btn-block btn-success" ng-click="cancel()">Done</button> -->
  </div>
</form>

<!--   <spinner name="spinnerShowDetail" show="!isDataLoaded" register="false">
    <div class="overlaySpinner">
        <div class="spinnerBox">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
    </div>
  </spinner> -->
<!--   ng-class="{'active': !isActive, 'button active': isActive}"
       ng-init="isActive = false"
       ng-click="isActive = !isActive"> -->