<div class="modal-header" style="padding: 0px;">
              <button class="btn btn-default btn-lg " ng-click="closeM()" role="button" style="position: absolute; top: 0; right: 0; border: none; background-color: Transparent; outline: none; font-size: 28px;">
                      <span class="glyphicon glyphicon-remove-circle"></span>
              </button> 
          <h3 class="text-center">Log in to continue
          
        </h3>
</div>
<div class="modal-body">
  <!-- <div class="row">
    <div class="panel"> -->
      <spinner name="homeSpinner28" >
        <div class="overlaySpinner">
            <div class="spinnerBox">
              <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
        </div>
      </spinner>
      <div class="panel-body" style="padding-top: 0px;" ng-hide="waiting">
        
        

        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-google-plus" style="margin-top: 10px;" ng-click="authenticate('google')">
          <span class="ion-social-googleplus"></span>Sign in with Google
        </button>
        
        <!--         <div class="signup-or-separator">
            <h6 class="text">Or via email</h6>
            <hr>
        </div> -->

        <!-- <h2 class="text-center">Log in</h2> -->
        <!--         <form method="post" ng-submit="login()" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>

          <br/>
        </form -->

        <!-- <p class="text-center">
          <a ng-click="forgotPassword()">Forgot your password?</a>
        </p>

        <p class="text-center text-muted">
          <small>Don't have an account yet?</small> <button type="button" class="btn btn-link btn-sm" ng-click="signupLink()">Sign up</button>
        </p> -->

          


        
        <!--         <button class="btn btn-block btn-live" ng-click="authenticate('live')">
          <i class="ion-social-windows"></i> Sign in with Windows Live
        </button> -->
      </div>
<!--     </div>
  </div> -->
</div>
<div class="modal-footer">
  <p class="text-center text-muted"><small>By Signing in, you agree to <a href="/disclaimer" ng-click="closeM()">terms & conditions</a> and <a href="/privacypolicy" ng-click="closeM()">privacy policy</a></small></p>
</div>
