<div class="container">
  <div class="row">
    <!-- <div class="center-form panel"> -->
    <div class="panel">
      <div class="panel-body">
        <button class="btn btn-block btn-facebook" ng-click="authenticate('facebook')">
          <i class="ion-social-facebook"></i> Sign in with Facebook
        </button>
        <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
          <span class="ion-social-googleplus"></span>Sign in with Google
        </button>
        
        <!-- <div class="signup-or-separator">
            <h6 class="text">or</h6>
            <hr>
        </div>

        <h2 class="text-center">Log in</h2>
        <form method="post" ng-submit="login()" name="loginForm">
          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="text" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
          </div>

          <div class="form-group has-feedback">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button> 

          <br/>
        </form> -->

          <!-- <p class="text-center">
            <button class="btn btn-xs  btn-block btn-link" ng-click="forgotPassword()">Forgot your password?</button>
          </p> -->

        <!--           <p class="text-center text-muted">
            <small>Don't have an account yet? <a href="/signup">Sign up</a></small>
          </p> -->


          <p class="text-center text-muted" style="margin-top:30px"><small>By Signing in, you agree to <a href="/disclaimer">terms & conditions</a> and <a href="/privacypolicy">privacy policy</a></small></p>        
        

        
        <!--         <button class="btn btn-block btn-live" ng-click="authenticate('live')">
          <i class="ion-social-windows"></i> Sign in with Windows Live
        </button> -->
      </div>

    </div>
  </div>
</div>
