<div class="container">
  <!--   <div class="panel panel-default">
      <div class="panel-heading" style="font-size: medium; font-weight: 700;">My Details</div>
      <div class="panel-body">
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}" style="border-radius: 25px;">
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Display Name</label>
            <input disabled type="text" class="form-control" ng-model="user.displayName" />
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-at"></i> Email Address</label>
            <input disabled type="email" class="form-control" ng-model="user.email" />
          </div>
          <button class="btn btn-lg btn-success">Update Information</button>
        </form>
    </div>
  </div> -->

  <accordion close-others="oneAtATime">

    <accordion-group is-open="status.open0" > <!-- SC tpls custom -->
        <accordion-heading>
            My Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open0, 'glyphicon-chevron-right': !status.open0}"></i>
        </accordion-heading>
        <form method="post" ng-submit="updateProfile()">
          <div class="form-group">
            <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}" style="border-radius: 25px;">
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-person"></i> Display Name</label>
            <input disabled type="text" class="form-control" ng-model="user.displayName" />
          </div>
          <div class="form-group">
            <label class="control-label"><i class="ion-at"></i> Email Address</label>
            <input disabled type="email" class="form-control" ng-model="user.email" />
          </div>
          <!-- <button class="btn btn-lg btn-success">Update Information</button> -->
      </form>
    </accordion-group>

    <accordion-group is-open="status.open1" > <!-- SC tpls custom -->
        <accordion-heading>
            My Reviews <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open1, 'glyphicon-chevron-right': !status.open1}"></i>
        </accordion-heading>
        <div ng-if='isCommentLoaded' class="commentWrapper">
          <ul class = "commentUl" style="border: none;">
            <li ng-repeat="comment in comments | orderBy:'- created'" class="commentLi">
              
              <div style="text-align:left;" class=""> 
                <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{comment.parentId.movieTitle}} </span>
                <span style="color: rgb(189, 189, 189);"> - {{timeAgo(comment.created)}} </span>
                <p>{{comment.text}} </p>
                <textarea  ng-auto-expand ng-if="comment._id == editable" ng-model="newText.textcomment" style="width:100%"> {{newText.textcomment}}  </textarea>
              </div>
              <div class="CommentsFooter" style="height:25px; margin-left: 61px;">
                <span class="">
                    <button class="btn commentEdit" type="button" ng-click="editComment(comment)"> {{btnEditTxt}}</button>
                    <button class="btn commentEdit" type="button" ng-click="editClose()" ng-if="comment._id == editable"> cancel</button>
                    <button class="btn commentEdit" type="button" ng-click="editDelete(comment)" ng-if="comment._id == editable"> delete</button>

                </span>
              </div>
            </li>
            <div class="" ng-if="comments.length == 0" style="margin-top: 30px;">
              <strong class="alert alert-info alertText">No comments posted yet</strong>
            </div>
          </ul>
        </div>
    </accordion-group>

    <!-- SC tpls custom -->
<!--     <accordion-group is-open="status.open2" > 
        <accordion-heading>
            My Reminders <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open2, 'glyphicon-chevron-right': !status.open2}"></i>
        </accordion-heading>
        <div ng-if='isRemindersLoaded' class="commentWrapper">
          <ul class = "commentUl" style="border: none;">
            <li ng-repeat="reminder in reminders" class="">
              
              <div class="row alert alert-info" style="margin: 5px; padding: 10px 5px; font-size: medium; line-height: 2;">
                
                <div class="col-md-7">
                  <strong style="color:#83207d">{{reminder.show.movieId.movieTitle}} </strong>
                </div>
                <div class="col-md-3">
                  <span style="">{{reminder.show.startDay | date: 'EEEE, MMM d, y'}} </span>
                </div>

                <div class="col-md-2">
                  <button class="btn btn-danger" ng-click="removeReminder(reminder._id)" role="button">Remove 
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                </div>

              </div>



              <div > 
                
                
              </div>
              
            </li>
          </ul>
        </div>
    </accordion-group> -->


  </accordion>

</div>