<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Reset Password</h2>
        <form method="post" ng-submit="resetPwd()" name="resetPwdForm">
          
          <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPwdForm.password.$invalid && resetPwdForm.password.$dirty }">
            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="resetPwdForm.password.$dirty" ng-messages="resetPwdForm.password.$error">
              <div ng-message="required">Password is required.</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : resetPwdForm.confirmPassword.$invalid && resetPwdForm.confirmPassword.$dirty }">
            <input password-match="password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-if="resetPwdForm.confirmPassword.$dirty" ng-messages="resetPwdForm.confirmPassword.$error">
              <div ng-message="compareTo">Password must match.</div>
            </div>
          </div>

          <button type="submit" ng-disabled="resetPwdForm.$invalid" class="btn btn-lg btn-block btn-primary">Reset</button>
          <br/>

        </form>
      </div>
    </div>
  </div>
</div>

