<show-during-resolve-mask> </show-during-resolve-mask>

<div class="container">
<h3>Hi There! <br><br> Thank you for visiting MyOutdoorCinema.com.au</h3> 
<br>
<p>
	We love outdoor cinema and feel that it is a key part of an awesome West Australian summer!
	The summer months are just not complete without a night under the stars with friends or loved ones.
	Imagine relaxing on your picnic rug, with nibbles and a glass of wine before enjoying the night’s entertainment. Perfect!
</p> 
<p>
  	The popularity of the outdoor movie experience has skyrocketed in Perth over the years, which means there is now more choice than ever before.
	MyOutdoorCinema.com.au combines all of the venues and their movie programs into one easy to search website. With just the click of a button, you can now see all of your movie and venue options in one screen shot. No more checking 6 or 7 different websites to see what’s on!
	We have more ideas for the future as we aim to continuously improve and develop a comprehensive outdoor cinema guide for WA.
</p>
 
<p>
  If you have any suggestions or ideas, or find something amiss with the site, please contact us through our Feedback form, we would love to hear from you.
</p>
 
<p>
  If you find this site useful, please share it with your friends and help everyone enjoy a hassle free outdoor cinema experience. 
</p>
<p>
  Have a great night and best wishes from Sonia & Sylvain (the MyOutdoorCinema Team).
</p>
 

 
</div>

     <!-- The actual modal template, just a bit o bootstrap -->



         <!-- ng-if="$index < 10" -->