<show-during-resolve-mask> </show-during-resolve-mask>

<div class="container">
<h3>Disclaimer</h3> 


<p>
  MyOutdoorCinema.com.au collects no money or fees from any cinemas or customers. We provide 
  this information in the interests of providing a fabulous service for outdoor cinema enthusiasts in 
  WA.  
</p>
 

<p>
  We ask that when you use this website, please use your common sense and consider the following;
  All movie programming is subject to change! We do our best to make sure that the movie 
  information is as accurate as possible. However, sometimes the cinemas will make last minute 
  changes to their schedule, there could be a cancellation, or perhaps we just couldn’t find the 
  appropriate movie trailer or rating classification. We recommend that once you have made your 
  movie & venue selection, click on the venue website link to get up to date information on their 
  T&C’s and movie status.  
</p>

<p>
  Sometimes websites fail and servers go offline, we get bugs, your phone remembers a previous 
  version of the site, and we have a new one…. If you find a problem with the website, its functionality 
  or accessibility, please send us the feedback, so we can rectify the issue ASAP. We also of course 
  apologise for any inconvenience.
</p>
 
<p>
  At this point in time, we don’t collect any personal information, other than what is 
  provided/collected by Google Analytics (your location of access). We will notify users if this changes 
  and we start a newsletter or something similar. 
</p>

<p>
  Finally, when you go to see a movie and buy a ticket, your ‘contract/agreement’ is with the venue. 
  So any damages, risk or liability rests between you and the cinema. MyOutdoorCinema.com.au is not 
  involved or related to any disputes you may have over refunds or the quality of your experience at 
  any given venue.  
</p>

<p>
  Thank you once again for visiting MyOutdoorCinema.com.au we hope you have a fabulous summer 
  of cinema!
  <br>
  Best Wishes, Sonia & Sylvain.
</p>

</div>

     <!-- The actual modal template, just a bit o bootstrap -->



         <!-- ng-if="$index < 10" -->