<show-during-resolve-mask> </show-during-resolve-mask>
<!-- <div class="jumbotron">
  <div class="container">
    <h1 class="titlesc"> Feedback  </h1>
  </div>
</div> -->

<div class="container">
  <h4 style="font-style: italic; margin-bottom:30px"> We are keen to make this website as user-friendly and useful as possible. If you discover any errors or bugs please let us know.  Or if you have any suggestions to make it better, we would love to hear your ideas! Thank you from the My Outdoor Cinema Team. </h4>
  <form name="fkForm" ng-submit="fksubmit()" role="form">
    <div class="form-group">
      <label for="fkInputEmail1">Email address</label>
      <input type="email" class="form-control" id="fkInputEmail1" name="fkEmail" ng-model="fkEmail" placeholder="Enter your email">
    </div>
    <div class="form-group">
      <label for="fkText">Enter your feedback</label>
      <textarea class="form-control" rows="3" id="fkText" name="fkText" ng-model="fkText"></textarea>
      <!-- <p class="help-block">Example block-level help text here.</p> -->
    </div>

    <div ng-class="{'alert':atrue, 'alert-success': atrue,'hide':fkHide}" role="alert" style="margin: 5px 0px 10px 0px" >Thank you for your feedback!</div>

    <button type="submit" class="btn btn-primary">Submit</button> 
  </form>
  
</div>

     <!-- The actual modal template, just a bit o bootstrap -->



         <!-- ng-if="$index < 10" -->