<div class="container">

<!--   <div class="jumbotron">
    <h1>My Outdoor Cinema</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div> -->
  <!-- <loadings info='isDataLoaded'></loadings> --> 

  <spinner name="spinnerMovieList" show="!isDataLoaded" register="false">
    <div class="overlaySpinner">
        <div class="spinnerBox">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
    </div>
  </spinner>


  <div ng-if='isDataLoaded' class="row" >
    <div class="col-xs-12">
      <!-- <h4>Pick Day</h4> -->
      <!-- <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button> -->
      <!-- ng-controller="DatepickerDemoCtrl" -->
      <div class="row" >
        <div class="col-xs-12">
          
        </div>
      </div>

      <div class="col-xs-12" style="margin-bottom:20px; padding-left: 0px;">
            <!-- <label>Search: </label>  -->
            <input ng-model="query" placeholder=" Search">
      </div>

      <!--Body content-->
      <button ng-repeat="movie in movies | filter: query | orderBy:'movieTitle' as results" ng-click="getMovie(movie.movieRef)" class="btnlist shadowbox" >
        <div class="thumb"><img ng-src="{{movie.img || 'img/movie.jpg'}}" style="max-height: 120px; width: 80px;"></div>
        <div style="text-align:left;" class=""> <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{movie.movieTitle}} </span>
          <p style="font-style:italic">{{movie.Runtime}} <br> {{movie.Genre}}</p>

        </div>
      </button>
      <div class="" ng-show="isDataLoaded" ng-if="results.length == 0">
                <strong>No movie found. Change filter.</strong>
      </div>
    </div>
  </div>
</div>

<!--       <ul class="phones">
        <li ng-repeat="movie in movies | filter: query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/movies/{{movie.movieRef}}" class="thumb"><img ng-src="{{movie.img}}" alt="img"></a>
          <a href="#/movies/{{movie.movieRef}}">{{movie.movie}} </a> 
          <p style="font-style=italic">{{movie.Runtime}}</p>
          <p></p>
        </li>
      </ul> -->