<div class="container">
  <!-- <div ng-hide='isDataLoaded' style="height:50px;">
    <loadings info='isDataLoaded'></loadings>
  </div>
  <loadings info='isDataLoaded'></loadings>  -->
  <spinner name="spinnerMovieDetail" show="!isDataLoaded" register="false">
    <div class="overlaySpinner">
        <div class="spinnerBox">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
    </div>
  </spinner>

  <div ng-if='isDataLoaded'>
    <h1>{{movie.movieTitle}} </h1> 
    <p>{{movie.Runtime}} <span ng-if="movie.parentalRating" > ({{movie.parentalRating}}) </span> </p>

    <youtube-video ng-if="movie.trailer" video-id="trailer" player-width="width" player-height="height"></youtube-video>

    <p style="margin-top:10px"><span ng-if="movie.Genre" class="cat"> Genre: </span> {{movie.Genre}}</p>
    <p> <span ng-if="movie.Plot" class="cat"> Summary:  </span> <br>
      {{movie.Plot}} 
    </p>
    
    <p><span ng-if="movie.Released" class="cat">Released:</span> {{movie.Released}}</p>
    <p><span ng-if="movie.Director" class="cat">Director:</span> {{movie.Director}}</p>
    <p><span ng-if="movie.Writer" class="cat">Writer:</span> {{movie.Writer}}</p>
    <p><span ng-if="movie.Actors" class="cat">Actors:</span> {{movie.Actors}}</p>
    <p><span ng-if="movie.Country" class="cat">Country:</span> {{movie.Country}}</p>

    <p class="cat">Showing On:<p>
    <ul class = "">
      <li ng-repeat="show in shows | filter: movieFilter" class="">
        <div>
          {{show.startDay | date:'dd MMM yyyy'}} at {{show.venue.fullName}}
        </div>
      </li>
    </ul>
    <br>
    <p class="cat">Reviews:<p>

    <div ng-if='isCommentLoaded' class="commentWrapper">
      <div style="margin:10px 0px">
        <div class="input-group" ng-if="!isAuthenticated()">
            <span class="input-group-btn btn-primary">
              <button class="btn btn-primary" type="button" ng-click="addComment()">Login!</button>
            </span>

            <textarea class="form-control" rows="1" style="resize:none" readonly placeholder="Login and Join the discussion..." ></textarea> 
        </div>

        <div ng-if="isAuthenticated()" class="input-group">
          <textarea ng-auto-expand class="form-control" ng-model="inputCom.textcomment" rows="2" style="resize:none" placeholder="Review this movie..." > </textarea>
            
          <span class="input-group-btn btn-primary">
            <button class="btn btn-primary" type="button" ng-click="addComment()">Send!</button>
          </span>
        </div>
      
      </div>

      <ul class = "commentUl" ng-if="comments.length !== 0">
        <li ng-repeat="comment in comments | orderBy:'-created'" class="commentLi">
          
          <div class="thumb" style="height: 48px; width: 48px;">
            <img ng-src="{{comment.user.picture || 'img/no_avatar2.png' }}" style="max-height: 48px; width: 48px; border-radius: 10px">
          </div>
          <div style="text-align:left;" class=""> 
            <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{comment.user.displayName || "X"}} </span>
            <span style="color: rgb(189, 189, 189);"> - {{timeAgo(comment.created)}} </span>
            <p>{{comment.text}} </p>
            <textarea ng-auto-expand ng-if="comment._id == editable" ng-model="newText.textcomment" style="width:100%"> {{newText.textcomment}} </textarea>
          </div>
          <div class="CommentsFooter" style="height:25px; margin-left: 61px;">
            <span ng-if="isMes(comment.user._id)" class="">
                <button class="btn commentEdit" type="button" ng-click="editComment(comment)"> {{btnEditTxt}}</button>
                <button class="btn commentEdit" type="button" ng-click="editClose()" ng-if="comment._id == editable"> Cancel</button>
                <button class="btn commentEdit" type="button" ng-click="editDelete(comment)" ng-if="comment._id == editable"> Delete</button>

            </span>
          </div>
        </li>
      </ul>
       <div class="row" ng-if="comments.length == 0" style="-webkit-padding-start: 10px; padding: 6px 15px; margin-top: 15px;">
            <strong class="alert alert-info alertText"> Be the first to review this movie!</strong>
      </div>

    </div> 


  </div>
</div>