<!-- <div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in movie.Poster"
       ng-class="{active: mainImageUrl==img}">
</div> -->
<div class="container">
<!--   <div ng-hide='isDataLoaded' style="height:50px;">
    <loadings info='isDataLoaded'></loadings>
  </div>
  <loadings info='isDataLoaded'></loadings>  -->
  <spinner name="spinnerShowDetail" show="!isDataLoaded" register="false">
    <div class="overlaySpinner">
        <div class="spinnerBox">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
    </div>
  </spinner>

  <div ng-if='isDataLoaded'>
    <div style="border: 1px grey;border-style: solid; padding:10px">
      <p> <span style="font-size:1.5em; color:#83207d"> {{venue.cinema}}  </span>
      ({{venue.suburb}}) 
      </p>

      <p> Movie Start: {{show.movieStart}} - Gates Open at: {{show.gateOpen}}</p>
      <p> Address: {{show.venue.address}}</p>
      <p><a class="btn btn-primary btn-md" href="/venues/{{venue.venueRef}}" role="button">More Venue Details</a></p>
    </div>
    
    <div class="row">
      <div class="col-sm-6" style="height:50px;font-size:3em;" share-square="true" share-links="Facebook, Twitter, LinkedIn, Google-Plus, Envelope"  share-title="My Outdoor Cinema"> 
      </div>
      <div class="col-sm-6" style="height:50px;font-size:3em;">
        <!-- <button class="btn btn-primary btn-md" ng-click="remindMe()"> Remind me</button> -->
      </div>
    </div>
    <div ng-show="remindMeBool" class="alert alert-info" role="alert" style="margin: 15px 0px 0px 10px">
      <span> Prior Reminder: </span>
      <button class="btn btn-primary btn-md" style="margin: 0px 5px" ng-click="reminder(1)"> 1 day</button> 
      <button class="btn btn-primary btn-md" ng-click="reminder(3)"> 3 days </button> 
      <button class="btn btn-primary btn-md" style="margin: 0px 5px 0px 5px" ng-click="reminder(7)"> 1 week </button>
    </div>
     <p></p>

    <!--       <div data-addthis-toolbox data-title="My Outdoor Cinema" ng-attr-id="sh-{{movie.movieRef}}" 
        class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_google_plusone_share"></a>
        <a class="addthis_button_email"></a>
      </div> -->

    <P> </P>
    <div style="padding:10px">
      <h1>{{movie.movieTitle}} </h1> 
      <p>{{movie.Runtime}} <span ng-if="movie.parentalRating" > ({{movie.parentalRating}}) </span> </p>

      <youtube-video ng-if="movie.trailer" video-id="trailer" player-width="width" player-height="height"></youtube-video>

      <p style="margin-top:10px"><span ng-if="movie.Genre" class="cat"> Genre: </span> {{movie.Genre}}</p>
      <p> <span ng-if="movie.Plot" class="cat"> Summary:  </span> <br>
        {{movie.Plot}} 
      </p>
      
      <p><span ng-if="movie.Released" class="cat">Released:</span> {{movie.Released}}</p>
      <p><span ng-if="movie.Director" class="cat">Director:</span> {{movie.Director}}</p>
      <p><span ng-if="movie.Writer" class="cat">Writer:</span> {{movie.Writer}}</p>
      <p><span ng-if="movie.Actors" class="cat">Actors:</span> {{movie.Actors}}</p>
      <p><span ng-if="movie.Country" class="cat">Country:</span> {{movie.Country}}</p>
    </div>
    
    
      <!-- <button ng-if="!isAuthenticated()" ng-click="addComment()"> Join the discussion... </button> -->
    <div ng-if='isCommentLoaded' class="commentWrapper">
      <div style="margin:10px 0px">
        <div class="input-group" ng-if="!isAuthenticated()">
            <span class="input-group-btn btn-primary">
              <button class="btn btn-primary" type="button" ng-click="addComment()">Login!</button>
            </span>

            <textarea class="form-control" rows="1" style="resize:none" readonly placeholder="Login and Join the discussion..." ></textarea> 
        </div>

        <div ng-if="isAuthenticated()" class="input-group">
          <textarea ng-auto-expand class="form-control" ng-model="inputCom.textcomment" rows='{{rows}}' style="resize:none" placeholder="Review the movie..." ></textarea>
            
          <span class="input-group-btn btn-primary">
            <button class="btn btn-primary" type="button" ng-click="addComment()">Send!</button>
          </span>
        </div>
      
      </div>

      <ul class = "commentUl" ng-if="comments.length !== 0">

        <li ng-repeat="comment in comments | orderBy:'-created'" class="commentLi">
          
          <div class="thumb" style="height: 48px; width: 48px;">
            <img ng-src="{{comment.user.picture || 'img/no_avatar2.png' }}" style="max-height: 48px; width: 48px; border-radius: 10px">
          </div>
          <div style="text-align:left;" class=""> 
            <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{comment.user.displayName || "X"}} </span>
            <span style="color: rgb(189, 189, 189);"> - {{timeAgo(comment.created)}} </span>
            <p>{{comment.text}} </p>
            <textarea ng-if="comment._id == editable" ng-model="newText.textcomment" style="width:100%"> {{newText.textcomment}}  </textarea>
          </div>
          <div class="CommentsFooter" style="height:25px; margin-left: 61px;">
            <span ng-if="isMes(comment.user._id)" class="">
                <button class="btn commentEdit" type="button" ng-click="editComment(comment)"> {{btnEditTxt}}</button>
                <button class="btn commentEdit" type="button" ng-click="editClose()" ng-if="comment._id == editable"> Cancel</button>
                <button class="btn commentEdit" type="button" ng-click="editDelete(comment)" ng-if="comment._id == editable"> Delete</button>

            </span>
          </div>
          
        </li>
      </ul>
      <div class="row" ng-if="comments.length == 0" style="-webkit-padding-start: 10px; padding: 6px 15px; margin-top: 15px;">
            <strong class="alert alert-info alertText"> Be the first to review this movie!</strong>
      </div>
      
    </div> 
  </div>
</div>


<!-- <ul class="specs">
isAuthenticated() && comment.user._id == me
  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in movie.availability">{{availability}}</dd>
    </dl>
  </li>
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{movie.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{movie.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{movie.battery.standbyTime}}</dd>
    </dl>
  </li>
  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{movie.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{movie.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{movie.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{movie.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{movie.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{movie.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{movie.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{movie.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{movie.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in movie.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{movie.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{movie.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{movie.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{movie.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{movie.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{movie.hardware.usb}}</dd>
      <dt>Audio / headmovie jack</dt>
      <dd>{{movie.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{movie.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{movie.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{movie.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{movie.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{movie.additionalFeatures}}</dd>
  </li>
</ul> -->
