<div class="container">

  <div class="row" >
    <div class="col-xs-6" style="text-align: center;">
        <button type="button" class="btn btn-lg btn-primary" style="width: 100%" ng-click="today()">Tonight</button>
    </div>
    <div class="col-xs-6" style="text-align: center;">
        <button type="button" class="btn btn-lg btn-primary" style="width: 100%" ng-click="tomorrow()">Tomorrow</button>
    </div>
    <div class="col-xs-4" style="margin-top:15px; text-align: center; ">
        <button type="button" class="btn btn-lg btn-info" style="width: 100%" ng-click="prevDay()"> <i class="glyphicon glyphicon-chevron-left"></i> </button> </button>
    </div>

    <!-- DATE PICKER -->
    <div class="col-xs-4" style="margin-top:15px; text-align: center;">
        <button type="button" class="btn btn-default btn-lg" ng-click="open($event)" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions" starting-day="1" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ><i class="glyphicon glyphicon-calendar"></i></button>
    </div>

    <!-- Chevron -->
    <div class="col-xs-4" style="margin-top:15px; text-align: center;">
        <button type="button" class="btn btn-lg btn-info" style="width: 100%" ng-click="nextDay()"> <i class="glyphicon glyphicon-chevron-right"></i> </button>
    </div>
      
    <div class="col-xs-10" style="margin-top:20px;">
      <!--  <label>Pick Location:</label>  -->
      <select class="form-control" ng-model="myLocation" ng-options="f.fullName for f in venues"><option value=""> Venue </option></select>
    </div>
    <div class="col-xs-2" style="margin-top:20px;">
      <button class="btn btn-default" ng-click="clearVenue()" href="/" role="button">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </button>  
    </div>


    <div class="col-xs-12" style="margin-top:20px;">
      <h4>Showing on <em>{{dt | date:'fullDate' }}</em></h4> 
      

      <loadings info='isDataLoaded'></loadings> 
        <button ng-repeat="show in shows | filter: filterFunction as results" ng-click="getShow(show.idRef)" class="btnlist shadowbox" ng-if="isDataLoaded">
          <div class="thumb" style="height: 120px; width: 80px;"><img ng-src="{{show.movieId.img || 'img/movie.jpg'}}" style="max-height: 120px; width: 80px;"></div>
          <div style="text-align:left;" class=""> <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{show.movieId.movieTitle}} </span>
            <p >{{show.venue.fullName}} </p>
            <p>Movie starts: {{show.movieStart}} </p>

            <p style="font-style:italic">{{show.movieId.Runtime}} <span ng-if="show.movieId.parentalRating">({{show.movieId.parentalRating}}) </span> <br> {{show.movieId.Genre}}</p> 
          </div>
        </button>
        <div class="" ng-show="isDataLoaded" ng-if="results.length == 0" style="margin-top: 30px;">
          <strong class="alert alert-info alertText">No results found. Select another date or venue</strong>
        </div>
    </div>
  </div>
</div>
<!--   -->