<!-- <div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in venue.images"
       ng-class="{active: mainImageUrl==img}">
</div> -->
<div class="container">
  <div ng-hide='isDataLoaded' style="height:50px;">
      <loadings info='isDataLoaded'></loadings>
  </div>
  <loadings info='isDataLoaded'></loadings> 
  <div ng-if='isDataLoaded'>
    <h1>{{venue.cinema}}, {{venue.suburb}} </h1>

    <p>{{venue.description}}</p>


    <p> <span class="cat"> Address: </span>{{venue.address}}</p>

    <p><a class="btn btn-primary btn-md" href='{{venue.urlVenue}}' target="_blank" role="button">Go to Venue Website</a></p>

    <div>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="false" options="options" bounds="map.bounds">
          <ui-gmap-markers models="venueMarker" coords="'self'" icon="'icon'"></ui-gmap-markers>
      </ui-gmap-google-map>
    </div>

    <div>
      <br>
      <h3>Now Showing at this venue:</h3>

      <button ng-repeat="show in shows | filter: showFilter | orderBy:'startDay' as results " ng-click="getShow(show.idRef)" class="btnlist shadowbox" ng-if="isDataLoaded">
          <div class="thumb" style="height: 120px; width: 80px;"><img ng-src="{{show.movieId.img || 'img/movie.jpg'}}" style="max-height: 120px; width: 80px;"></div>
          <div style="text-align:left;" class=""> 
            <span style="font-weight: bold; font-size:1.2em; color:#83207d">{{show.startDay | date:'dd MMM yyyy'}} </span>
            <p style="font-weight: bold; font-size:1.2em; color:#83207d" >{{show.movieId.movieTitle}} </p>
            <p>Movie starts: {{show.movieStart}} </p>

            <p style="font-style:italic">{{show.movieId.Runtime}} <span ng-if="show.movieId.parentalRating">({{show.movieId.parentalRating}}) </span> <br> {{show.movieId.Genre}}</p> 
          </div>
        </button>
      <div class="" ng-show="isDataLoaded" ng-if="results.length == 0" style="margin-top: 30px;">
        <strong class="alert alert-info alertText">No results found.</strong>
      </div>


    </div>


  </div>
</div>
