<div class="container">

  <spinner name="spinnerVenueList" show="!isDataLoaded" register="false">
    <div class="overlaySpinner">
        <div class="spinnerBox">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
    </div>
  </spinner>
  <div ng-show="isDataLoaded">
    <div class="row" >

      <div class="col-xs-12">

      <!--Body content-->

        <button ng-repeat="venue in venues | filter:query | orderBy:orderProp" class="btnlist shadowbox" ng-click="getVenue(venue.venueRef)">
          <p style="font-weight: bold; font-size:1.2em; color:#83207d" >{{venue.cinema}}</p>
          <p>{{venue.suburb}}</p>
        </button>

      </div>
    </div>

    <div ng-if="isDataLoaded" style="padding: 20px; border: 1px solid">
      
        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" bounds="map.bounds" >
          <ui-gmap-markers models="venuesMarkers" coords="'self'" icon="'icon'"></ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

  </div>
  
  
</div>


<!--       <ul class="phones">
        <li ng-repeat="venue in venues | filter:query | orderBy:orderProp" class="thumbnail phone-listing">
          <a href="#/venues/{{venue.venueRef}}">{{venue.cinema}}</a>
          <p>{{venue.suburb}}</p>
        </li>
      </ul> -->